{% extends "layout.html" %}

{% block title%}
    Solicitar Cupo
{% endblock %}

{% block content%}
    {% comment %} <h2>Comedor</h2>
    <label>Semana </label>
    <form method="POST" action="{% url 'buscar' %}">
    {% for diad in diaa %}
        <p>{{diad.dia}}</p>
    {% endfor %}
    {% csrf_token %}
    {{formcupo.as_p}}
        <button type="submit">Buscar</button> {% endcomment %}
{%if detalle %}
<input type="text" value="{{detalle.codigo_id}}" readonly><br>
<input type="text" value="{{detalle.id_menu_id}}" readonly>
<p>Registro agregado con exito</p>
<form method='POST' action="{% url 'cancelar' %}">
{% csrf_token %}
<button type="submit">Cancelar</button>
{% elif mensaje %}
</form>
{% else %}
    {% if cantidadd%}
    <form method="POST" action="{% url 'save_detalle' %}">
    {% csrf_token%}
    <input type="text" value="{% for diad in diaa %}{{diad.dia}}{% endfor%}" name="day" readonly><br>
    <input type="text" value="{% for cantidades in cantidadd %}{{cantidades.tipo}}{% endfor%}" name="hour" readonly>
    {% for diad in diaa %}
        <p style="color:white">Cupos para el {{diad.dia}}
            {% for cantidades in cantidadd %}
                en el horario del {{ cantidades.tipo }}:
            {% endfor%}
        </p>
    {% endfor %}
    {% for cantidades in cantidadd%}
    <p>Cupos: <input type="text" value="{{ cantidades.cantidad }}" readonly></p>
    {% endfor %}
    <button type="submit">Agregar</button>
    {% else %}
    <h2>Comedor</h2>
    <label>Semana </label>
    <form method="POST" action="{% url 'buscar' %}">
    {% for diad in diaa %}
        <p>{{diad.dia}}</p>
    {% endfor %}
    {% csrf_token %}
    {{formcupo.as_p}}
        <button type="submit">Buscar</button>
    {% endif %}
{% endif %}
{% if mensaje%}
        <p>{{mensaje}}</p>
{% endif %}
    {% comment %} <button type="submit" style="display:block">Reservar<button>          {% endcomment %}
</form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Codigo</th>
                    <th>Nombre</th>
                    <th>Semana</th>
                    <th>Dia</th>
                    <th>Tipo</th>
                    <th>Menu</th>
                </tr>
            </thead>
            <tbody>
            {% for pedido in pedidos %}
            <tr>
                <td>{{ pedido.id_detalle_menu }}</td>
                <td>{{ pedido.codigo }}</td>
                <td>{{ pedido.codigo.nombres}}</td>
                <td>{{ pedido.id_menu.id_semana}}</td>
                <td>{{ pedido.id_menu.id_dia.dia }}</td>
                <td>{{ pedido.id_menu.id_tipo.tipo}}</td>
                <td>{{ pedido.id_menu.comida }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}